@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
}
header{
   background-color: rgba(255, 144, 14, 0.1);
}
header img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-weight: 700;
    font-size: 2.8rem;
    color:#131313;
}
main>section,footer{
    margin-top: 145px;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
}
.banner-description{
    color: #727272;
}
.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
.banner img{
    width: 100%;
}
.txt-description{
    color: #727272;
}
.feature-section{
    margin-top: 145px;
}
.feature{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.feature-content{
    margin-left: 130px;
}
.feature-content-title{
    font-size: 1.8rem;
}
.feature-ql{
    font-weight: 500;
    color:#727272;
}
.feature-Features{
    color: #FF900E;
}
.feature-content-description{
    color: #727272;
    margin-bottom: 20px;
}
/*version styles*/
.versions{
    display: flex; 
    gap: 145px;
}
.versions-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    font-size: 2.8rem;
}
.versions-type-description{
    color: #727272;
}
.versions img{
    width: 100%;
}
.versions-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.facts-cards-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    align-items: center;
}
.cards{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content:center;
}
.card-stats{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
    color: #727272;
}
.sponsors img{
    filter: grayscale(100%);
}
.footer{
    justify-content: center;
    align-items: center;
}
.footer-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.footer-description{
    color: #727272;
}
.sponsors{
    display: flex;
    justify-content: space-between;
}
.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
}
/*responsive*/
@media screen and (max-width:576px) {
    header{
        padding:10px;
    }
     nav{
         flex-direction: column;
     }
     .feature{ 
         display: flex;
         flex-direction: column;
     } 
     .feature-img{
         grid-template-columns: repeat(1,1fr);
     }
     .feature-content{
        margin-left: 50px;
    }
    .versions{
        flex-direction: column;
    }
    #experience-badge{
        padding: 20px 18px;
        margin-left:-10px;
        margin-top: -40px;
    }
    .facts-cards-container{
        grid-template-columns: repeat(2,1fr);
    }
    .sponsors{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }

 }
 @media screen and (min-width:576px) and (max-width:960px) {
     nav{
         flex-direction: column;
     }
     .feature{ 
        display: flex;
        flex-direction: column;
    } 
    .feature-content{
        margin-left: 50px;
    }
    .feature-img{
         grid-template-columns: repeat(2,1fr);
     }
     .versions{
        flex-direction: column;
    }
    #experience-badge{
        padding: 30px 30px;
        margin-left:-10px;
        margin-top: -60px;
    }
    .facts-cards-container{
        grid-template-columns: repeat(2,1fr);
    }
    .cards{
        margin-bottom: 10px;
    }
    .sponsors{
        display:grid;
        grid-template-columns: repeat(3,1fr);
    }
 }